<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="126px" height="70px" viewBox="0 0 126 70" enable-background="new 0 0 126 70" xml:space="preserve" class="job-point">
 <g id="{{ id }}">
   <circle fill="{{ color }}" cx="7" cy="12" r="4.127"/>
   <circle fill="none" stroke="{{ color }}" stroke-width="0.7" cx="7" cy="12" r="6.2"/>
   <text x="0" y="30" fill="{{ color }}" class="job-point-text-leave">{{ dateLabel }}</text>
 </g>
</svg>
