<div class="resume-header">Curriculum vitae</div>
<div class="resume-item" ng-repeat="resume in resumes">
  <a href="{{ resume.link }}"><img src="" ex-xlink-href="{{ resume.image_src }}"/></a>
</div>
<div class="social-media-header">Social media</div>
<div class="social-media-item" ng-repeat="sm in social_media">
  <a href="{{ sm.link }}" target="_blank">
    <span>
      <img src="" ex-xlink-href="{{ sm.image_src }}" title="{{ sm.text }}" alt="{{ sm.text }}">
    </span>
  </a>
</div>
<div class="js-components-header">Starring</div>
<div class="js-components-item" ng-repeat="component in jsComponents">
  <span>{{ component.text }}</span>
</div>
