<div ng-show="job !== undefined" class="main-flex-wrapper">
  <div class="left-column-wrapper">
    <h1>General</h1>
      <div class="skills-board-item-container">
        <span class="skills-board-item-label">Position:</span>
        <span class="skills-board-item-value">
          <span class="position" ng-repeat="pos in job.position">{{ pos }}</span>
        </span>
      </div>
      <div class="skills-board-item-container">
        <span class="skills-board-item-label">Location:</span>
        <span class="skills-board-item-value">
          {{ job.location }}
        </span>
      </div>
      <div class="skills-board-item-container">
        <span class="skills-board-item-label">Company:</span>
        <span class="skills-board-item-value">
          <a href="{{ job.website }}"> {{ job.company }} </a>
        </span>
      </div>
      <div class="skills-board-item-container">
        <span class="skills-board-item-label">Type:</span>
        <span class="skills-board-item-value">
          {{ job.employment_type }}
        </span>
      </div>
      <div class="skills-board-item-container">
        <span class="skills-board-item-label">Dates:</span>
        <span class="skills-board-item-value">
          From {{ job.dateFrom }} to {{ job.dateTo }}
        </span>
      </div>
  </div>
  <div class="right-column-wrapper" ng-show="job.projects.length > 0">
    <h1>Projects</h1>
    <div class="project" ng-repeat="project in job.projects">
      <h2>{{ project.title }}</h2>
      <div>{{ project.description }}</div>
      <ul ng-repeat="resp in project.responsibilities">
        <li>{{ resp }}</li>
      </ul>
    </div>
   </div>
</div>
