/* app styles */
* {
  box-sizing: content-box;
}

img {
  vertical-align: baseline;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

label {
  display: inline;
  font-weight: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

html,
body {
  height: 100%;
  font-size: 12px;
}
body {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

/**
 * 	Angular RangeSlider SCSS
 *
 *	Version: 0.0.3
 *
 * 	Author: Daniel Crisp, danielcrisp.com
 *
 * 	The rangeSlider has been styled to match the default styling
 * 	of form elements styled using Twitter's Bootstrap
 *
 * 	Originally forked from https://github.com/leongersen/noUiSlider
 *
 */
/*------------------------------------*\
    COMPASS IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    THE CSS
\*------------------------------------*/
/* line 43, scss/angular.rangeSlider.scss */
.range-slider {
  position: relative;
  margin: 10px 0 30px;
  padding: 4px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear, box-shadow linear;
  -webkit-transition-delay: 0.2s, 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
    /*------------------------------------*\
        RUNNER
    \*------------------------------------*/
    /*------------------------------------*\
        JOIN (connects the two handles)
    \*------------------------------------*/
    /*------------------------------------*\
        HANDLE
    \*------------------------------------*/
    /*------------------------------------*\
        HANDLE SPECIFICS
    \*------------------------------------*/
    /*------------------------------------*\
        VALUE LABELS
    \*------------------------------------*/
    /*------------------------------------*\
        VERTICAL SLIDER
    \*------------------------------------*/
    /*------------------------------------*\
        FOCUS STATE
    \*------------------------------------*/
    /*------------------------------------*\
        DISABLED STATE
    \*------------------------------------*/
}
/* line 46, scss/angular.rangeSlider.scss */
.range-slider, .range-slider * {
  display: block;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
}
/* line 69, scss/angular.rangeSlider.scss */
.range-slider .runner {
  position: relative;
  margin: 0 9px;
  height: 18px;
}
/* line 79, scss/angular.rangeSlider.scss */
.range-slider .join {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 100%;
  height: 8px;
  margin: -4px 0 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
  background-image: -o-linear-gradient(#5bc0de, #2f96b4);
  background-image: linear-gradient(#5bc0de, #2f96b4);
}
/* line 97, scss/angular.rangeSlider.scss */
.range-slider .handle {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 18px;
  margin: 0 0 0 -9px;
  background: #efefef;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
    /*------------------------------------*\
        HANDLE ICON
    \*------------------------------------*/
}
/* line 111, scss/angular.rangeSlider.scss */
.range-slider .handle i {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat -9999px -9999px;
  cursor: pointer;
}
/* line 121, scss/angular.rangeSlider.scss */
.range-slider .handle:hover i, .range-slider .handle.down i {
  background-position: 50% 50%;
}
/* line 126, scss/angular.rangeSlider.scss */
.range-slider .handle.down {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 137, scss/angular.rangeSlider.scss */
.range-slider .handle-min i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYMAEXEDsA+OwoEnKALETEHOgK2AEYhMgNkQ3DqSAB6pLAot1DExIJmAFzED8C4hvQdnIppyFKYCBp0D8CohloVafxWUqN7I3AQIMAKw6B24pOi8lAAAAAElFTkSuQmCC");
}
/* line 144, scss/angular.rangeSlider.scss */
.range-slider .handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpiYEAAHyDmYkADzEhsByBWA+K3QPwJmwJjIGYBYlUgZgLi59gUwIAkEEsD8VMmBtyAkQFqJDZwAYjPAPE/dAU/gHg/ED/GpgvkTW50QYAAAwADfwrM5sqplgAAAABJRU5ErkJggg==");
}
/* line 154, scss/angular.rangeSlider.scss */
.range-slider .value {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  font-size: 12px;
  color: black;
}
/* line 162, scss/angular.rangeSlider.scss */
.range-slider .value.value-max {
  left: auto;
  right: 0;
  text-align: right;
}
/* line 170, scss/angular.rangeSlider.scss */
.range-slider.handle-min-down .value-min, .range-slider.handle-max-down .value-max {
  color: #333;
}
/* line 178, scss/angular.rangeSlider.scss */
.range-slider.vertical {
  width: 28px;
  margin: 10px auto;
    /*------------------------------------*\
        RUNNER
    \*------------------------------------*/
    /*------------------------------------*\
        JOIN
    \*------------------------------------*/
    /*------------------------------------*\
        HANDLE
    \*------------------------------------*/
    /*------------------------------------*\
        HANDLE SPECIFICS
    \*------------------------------------*/
    /*------------------------------------*\
        VALUE LABELS
    \*------------------------------------*/
    /*------------------------------------*\
        VERTICAL LEFT SLIDER
    \*------------------------------------*/
    /*------------------------------------*\
        VERTICAL RIGHT SLIDER
    \*------------------------------------*/
}
/* line 186, scss/angular.rangeSlider.scss */
.range-slider.vertical .runner {
  margin: 9px 0;
  height: 300px;
  width: 18px;
}
/* line 196, scss/angular.rangeSlider.scss */
.range-slider.vertical .join {
  width: 8px;
  height: auto;
  top: 0;
  bottom: 100%;
  left: 50%;
  right: auto;
  margin: 0 0 0 -4px;
}
/* line 210, scss/angular.rangeSlider.scss */
.range-slider.vertical .handle {
  width: 100%;
  height: 18px;
  margin: -9px 0 0 0;
}
/* line 221, scss/angular.rangeSlider.scss */
.range-slider.vertical .handle-min i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpiYEAFPFAMB0xIbEYgdoJiRpggM5ICUyBWhZoA0vgMWYEsENsg6ZQE4ldA/AmkkguIHZGNhQKQGBfIBHcgFmTABCxALMJAMQAIMAAcNgVQJ7t7JQAAAABJRU5ErkJggg==");
}
/* line 228, scss/angular.rangeSlider.scss */
.range-slider.vertical .handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
/* line 238, scss/angular.rangeSlider.scss */
.range-slider.vertical .value {
  top: 0;
  left: 100%;
  padding: 0 0 0 5px;
}
/* line 243, scss/angular.rangeSlider.scss */
.range-slider.vertical .value.value-max {
  top: auto;
  bottom: 0;
  right: auto;
  text-align: left;
}
/* line 255, scss/angular.rangeSlider.scss */
.range-slider.vertical.left {
  margin: 10px 0;
}
/* line 263, scss/angular.rangeSlider.scss */
.range-slider.vertical.right {
  margin: 10px 0 10px auto;
}
/* line 270, scss/angular.rangeSlider.scss */
.range-slider.vertical.right .value {
  left: auto;
  right: 100%;
  padding: 0 5px 0 0;
  text-align: right;
}
/* line 276, scss/angular.rangeSlider.scss */
.range-slider.vertical.right .value.value-max {
  text-align: right;
}
/* line 288, scss/angular.rangeSlider.scss */
.range-slider.focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 299, scss/angular.rangeSlider.scss */
.range-slider.disabled, .range-slider.disabled.focus {
  border-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 305, scss/angular.rangeSlider.scss */
.range-slider.disabled .handle {
  background: #fff;
  border-color: #ddd;
}
/* line 309, scss/angular.rangeSlider.scss */
.range-slider.disabled .handle i {
  background: none !important;
  cursor: default;
}
/* line 315, scss/angular.rangeSlider.scss */
.range-slider.disabled .join {
  background: #ddd;
}
/* line 319, scss/angular.rangeSlider.scss */
.range-slider.disabled .value {
  color: #ddd;
}

.resume-item-label {
  font: 18px Cambria,Georgia,Arial;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}

.resume-item-img {
  margin: 5px 20px 5px 5px;
  width: 32px;
  height: 32px;
  border-radius: 0 10px 0 10px;
  background-color: transparent;
  box-shadow: 5px 5px 5px #888888;
}

.social-media-item-label {
  font: 18px Cambria,Georgia,Arial;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}

.social-media-item-img {
  margin: 5px 20px 5px 5px;
  width: 32px;
  height: 32px;
  border-radius: 0 10px 0 10px;
  background-color: #888888;
  box-shadow: 5px 5px 5px #888888;
}

.looking-position-item-label {
  font: 18px Cambria,Georgia,Arial;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}

.looking-position-item-value-ul {
  margin: 0;
  padding: 0;
}

.looking-position-item-value-ul-li {
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
  padding-top: 2px;
}

.contact-item-label {
  font: 18px Cambria,Georgia,Arial;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}

.contact-item-value-ul {
  margin: 0;
  padding: 0;
}

.contact-item-value-ul-li {
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
}

.filter-item-label {
  font: 18px Cambria,Georgia,Arial;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}

.filter-item-value-label {
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
}

.job-flow-year-section {
  display: table-cell;
  vertical-align: baseline;
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
}

@media screen and (max-width: 1024px) {
  .jobs-flow-img-mark-year {
    width: 1px;
    height: 40px;
    vertical-align: bottom;
  }
}

@media screen and (min-width: 1152px) {
  .jobs-flow-img-mark-year {
    width: 3px;
    height: 40px;
    vertical-align: bottom;
  }
}

@media screen and (max-width: 1280px) {
  .jobs-flow-img-mark-month {
    margin-top: 3px;
    margin-left: 0px;
    width: 1px;
    height: 25px;
  }
}

@media screen and (max-width: 1366px) {
  .jobs-flow-img-mark-month {
    margin-top: 3px;
    margin-left: 1px;
    width: 1px;
    height: 25px;
  }
}

@media screen and (min-width: 1400px) {
  .jobs-flow-img-mark-month {
    margin-top: 3px;
    margin-left: 2px;
    width: 1px;
    height: 25px;
  }
}

@media screen and (min-width: 1680px) {
   .jobs-flow-img-mark-month {
    margin-top: 3px;
    margin-left: 3px;
    width: 1px;
    height: 25px;
  }
}

.jobs-flow-img-mark-month-1 {
  margin-top: 3px;
  margin-left: -2px;
  width: 1px;
  height: 25px;
}

.job-point {
  margin-top: 10px;
  margin-left: -15px;
  position: fixed;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.job-point-text-leave {
  display: none;
  font-family: monospace, serif;
  font-size: 0.7em;
}

.skills-board-h1 {
  margin: 1em 0 0.5em 0;
  position: relative;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  line-height: 20px;
  background: #2f96b4;
  border: 1px solid #fff;
  padding: 5px 5px;
  color: white;
  border-radius: 0 10px 0 10px;
  box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
  font: 24px Cambria,Georgia,Arial;
}

.skills-board-item-label {
  font: 18px Cambria,Georgia,Arial;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}

.skills-board-item-value {
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
}

.skills-board-item-value-a:link {color: #2f96b4;}
.skills-board-item-value-a:visited {color: #2f96b4;}
.skills-board-item-value-a:hover {color: #2f96b4;}
.skills-board-item-value-a:active {color: #2f96b4;}

.skills-board-item-value-position-ul {
  padding: 0;
}

.skills-board-item-value-position-li {
  padding-top: 2px;
}

.skills-board-h2 {
  position: relative;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  line-height: 10px;
  background: #2f96b4;
  border: 1px solid #fff;
  padding: 5px 5px;
  color: white;
  border-radius: 0 10px 0 10px;
  box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
  font: 18px Cambria,Georgia,Arial;
}

.skills-board-project {
  padding: 0px;
  margin: -5px 0px 0px 0px;
  font: 16px 'Proxima Nova Regular',Georgia,Arial;
}

.skills-board-heading:hover {
  cursor:pointer;
}

.skills-board-project-description {
  margin-top: 10px;
  font-size: 1em;
}

.skills-board-project-screenshot {
  margin-top: 5px;
}

.skills-board-project-screenshot-ul {
  list-style: none;
}

.skills-board-project-screenshot-ul-li {
  background: #fff;
  padding: 0;
  color: #000;
}

.skills-board-project-screenshot-title {
}

.skills-board-project-screenshot-img {
  display: block;
  padding: 10px;
}

.skills-board-project-screenshot-img-inactive {
  border: 1px dotted #d3d3d3;
  position: relative;
  z-index: 9999;
}

.skills-board-project-screenshot-img-active {
  border: none;
  position: relative;
  z-index: 10000;
}

.skills-board-project-screenshot-img:hover {
  cursor: pointer;
}

.skills-board-project-ref {
  padding: 0px;
  border: 1px solid transparent;
}

.skills-board-project-ul {
  list-style: none;
}

.skills-board-project-ul-li {
  padding: 5px;
}

.skills-board-project-ul-li-a {
  position: relative;
}

.skills-board-project-tag-item {
  text-decoration: underline;
}

.skills-board-project-description-responsibility {
  margin-top: 10px;
}

.filtersValuePanel {
  display: none;
  background: transparent;
  border: 1px dotted #d3d3d3;
  z-index: 99999;
}

.filter-panel-employment-type-image {
  width: 15px;
  height: 15px;
}

label.checkbox-label input[type=checkbox]{
  position: relative;
  vertical-align: middle;
}