<div class="jobs-flow" style="margin-top: 70px; margin-left: 70px;">
  <img class="mark-year" src="media/mark-year.png"/>
  <div ng-repeat="year in years">
    <span ng-repeat="month in [1,2,3,4,5,6,7,8,9,10,11,12]">
        <img class="tube-part" x="{{ $index * 5 + $parent.$index * 5 }}" y="0" src="media/tube-part.png" />
        <job-point ng-repeat="job in findJobs(month, year)" class="job-point" id="job.id" date-label="getJobText(job, month, year)" color="getJobColor(job, month, year)" ng-mouseenter="onJobPointEnter(job)" ng-mouseleave="onJobPointLeave(job)" ng-click="onJobPointClick(job)"></job-point>
    </span>
    <img class="mark-year" src="media/mark-year.png"/>
  </div>
  <div class="clear-fix"></div>
</div>