<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" xml:space="preserve">
  <image ng-repeat="month in [1]" x="{{ $index * 19 }}" y="0" width="19px" height="48px" xlink:href="media/tube-part.png" />
  <!--<text x="{{ $index * 10 +  $parent.$index * 20 }}" y="10">{{ $index * 10 +  $parent.$index * 20 }}</text>-->
<!--</svg>-->
<div class="jobs-flow">
  <img class="mark-year" src="media/mark-year.png"/>
  <span ng-repeat="year in years">
    <img class="tube-part" ng-repeat="month in [1,2,3,4,5,6,7,8,9,10,11,12]" x="{{ $index * 5 + $parent.$index * 5 }}" y="0" src="media/tube-part.png" />
    <img class="mark-year" src="media/mark-year.png"/>
  </span>
  <div class="clear-fix"></div>
</div>