<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div ng-repeat="year in years" class="job-flow-year-section">
        <img class="jobs-flow-img-mark-year" src="media/mark-year2.png"/>
        <span ng-repeat="month in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-if="year < years[years.length-1]">
          <img ng-class="{'jobs-flow-img-mark-month': $index > 0, 'jobs-flow-img-mark-month-1': $index === 0}" x="0" y="0" src="media/mark-month2.png" />
          <job-point ng-repeat="job in findJobs(month, year)" is-start="isStartPoint(job, month, year)" type="getEmploymentType(job)" id="job.id" date-label="getJobText(job, month, year)" color="getJobColor(job, month, year)" ng-click="onJobPointClick(job, $event)" ng-mouseenter="onJobPointEnter(job, $event)" ng-mouseleave="onJobPointLeave(job, $event)">
          </job-point>
        </span>
        <div>{{ year }}</div>
       </div>
     </div>
  </div>
</div>
